<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="https://github.com/onttoni/web-base">Web-base</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="app.home"><i class="fa fa-home"></i>Home</a></li>
        <li><a ui-sref="app.friends.list"><i class="fa fa-users"></i>Friends</a></li>
        <li><a ui-sref="app.chat"><i class="fa fa-commenting"></i>Chat</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!isSignedIn"><a ui-sref="app.user.login">Sign in</a></li>
        <li ng-if="!isSignedIn"><a ui-sref="app.user.signup">Sign up</a></li>
        <li ng-if="isSignedIn"><a class="text-capitalize" ui-sref="app.user.profile">{{firstName}}</a></li>
        <li ng-if="isSignedIn"><a ui-sref="app.user.logout">Sign out</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a ui-sref="about">About</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
