<h2>Logout</h2>
<div>
  <form novalidate>
    <div>
      <a ui-sref="home" class="btn btn-default" ng-click="users.logout()"><i class="fa fa-floppy-o"></i>Logout</a>
      <a ui-sref="home" class="btn btn-default"><i class="fa fa-times"></i>Cancel</a>
    </div>
  </form>
</div>
