<h2>Logout</h2>
<a ng-href="#/">Show Home</a>

<div>
  <form novalidate>
    <div>
      <a ng-href="#/" class="btn btn-default" ng-click="users.logout()"><i class="fa fa-floppy-o"></i>Logout</a>
      <a ng-href="#/" class="btn btn-default"><i class="fa fa-times"></i>Cancel</a>
    </div>
  </form>
</div>
