<h2>Rendered from comp2</h2>
<a href="#/">Show view1</a>

<div>
  <ol>
    <li ng-repeat="person in person.data">
      {{ person.name }} {{ person.address }} {{ person.age }}
    </li>
  </ol>
</div>
