<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add friend</h4>
      </div>
      <div class="modal-body">
        <form novalidate>
          <div ng-repeat="(key, value) in friends.added">
            <label class="text-capitalize">{{ key }}</label>
            <input type="text" class="form-control" ng-model="friends.added[key]">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" ng-click="friends.save()" data-dismiss="modal"><i class="fa fa-floppy-o"></i>Save</a>
        <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
