<h2>Rendered from comp1</h2>
<a href="#/view2">Show view2</a>

<form>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Name" ng-model="person.name">
    <input class="form-control" type="text" placeholder="Address" ng-model="person.address">
    <input class="form-control" type="text" placeholder="Age" ng-model="person.age">
    <input class="form-control fa-save" type="button" value="Save" ng-click="person.addPerson()" ng-model="address">
  </div>
</form>
